/* Global */
:root{
    --font-size: 4.5vh;
    --font-color: #00ff00;
    --alert-color: #e50000;

    font-size: var(--font-size);
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

html, body{
    height: 100%;
    margin: auto;
}

body{
    font-family: Menlo, sans-serif;
    color: var(--font-color);
    background: #000;
    display: grid;
}

p{
    text-transform: lowercase;
}

input{
    background-color: #000;
    font-family: Menlo, sans-serif;
    color: var(--font-color);
    text-transform: lowercase;
    font-size: 4.5vh;
    width: 50%;
    
    border: none;
    outline: none;
}


/* Classes */
.container{
    width: 15rem;
    margin: auto;
}

.alert{
    color: var(--alert-color)!important;
}

.sleeping-alert{
    color: #000;
}

/* IDs */